(function(){
  'use strict';

  angular
    .module('module_name')
    .controller('${1:ControllerName}$0', ${1:ControllerName}$0);

  function ${1:ControllerName}$0($scope){
    var vm = this;
  }
})();
