<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>${1:Examples}</title>
${2:<meta name="description" content="$3">
<meta name="keywords" content="$4">
}<link href="$5" rel="stylesheet">
</head>
<body>
    $0
</body>
</html>