<?php
/**
 * ${1:}
 * @authors ${author} (${email})
 * @date    ${date}
 * @version \$Id\$
 */

class ${2:ClassName} ${3:extends ${4:AnotherClass}} {
    $5
    function __construct(){
        $0
    }
}