${1:RSpec.describe '/v2/something.json', type: :request, api: true do
  let!(:user) { FactoryGirl.create(:user) }

  before do
    sign_in user
  end

  context '' do
    it 'does something' do

    end
  end

end
}$0
